.footer-container {
    background-color: #08103510;
    height: 252px;
    margin-top: 200px;
    position: relative;
}
.content-container {
    margin-top: 0px;
    padding-left: 90px;
    padding-right: 90px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.footer-top-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo-cont {
    display: flex;
    align-items: center;
    gap: 80px;
}
.footer-logo {
    height: 50px;
    transition: opacity 0.3s;
}
.footer-logo:hover {
    opacity: 0.7;
}
.logo-text {
    width: 285px;
    font-size: 13px;
    color: #ffffff70;
}
.footer-section2 {
    display: flex;
    justify-content: space-between;
    width: 198px;
}
.t1 {
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.3s;
}
.t1:hover {
    opacity: 0.7;
}
.t2 {
    font-size: 13px;
    color: #ffffff70;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.3s;
}
.t2:hover {
    opacity: 0.7;
}
.footer-bottom-section {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.copyright-text {
    font-size: 13px;
    color: #ffffff70;
}
.link-style {
    text-decoration: none;
    color: #ffffff;
}


/*MOBILE PHONES*/
@media screen and (min-width: 376px) and (max-width: 767px) {
    .footer-container {
        height: 352px;
    }
    .content-container {
        padding-left: 30px;
        padding-right: 50px;
    }
    .footer-top-section {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .footer-section2 {
        column-gap: 170px;
        width: 100%;
    }
    .t1 {
        white-space: nowrap;
    }
    .t2 {
        white-space: nowrap;
    }
}

/*SAMSUNG GALAXY TAB S4*/
@media screen and (width: 712px) {
    .content-container {
        padding-left: 120px;
        padding-right: 150px;
    }
    .footer-top-section {
        display: grid;
        place-items: center;
        row-gap: 30px;
    }
    .footer-bottom-section {
        padding-left: 70px;
    }
    .footer-section2 {
        column-gap: 50px;
        width: 500px;
        display: flex;
        justify-content: space-between;
    }
    .t1 {
        white-space: nowrap;
    }
    .t2 {
        white-space: nowrap;
    }
}

/*IPHONE X AND 5 AND SE */
@media screen and (min-width: 350px) and (max-width: 375px) {
    .footer-container {
        height: 352px;
    }
    .content-container {
        padding-left: 30px;
        padding-right: 50px;
    }
    .footer-top-section {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .footer-section2 {
        column-gap: 150px;
        width: 100%;
    }
    .t1 {
        white-space: nowrap;
    }
    .t2 {
        white-space: nowrap;
    }
}

/*IPHONE 4 AND LESS */
@media screen and (max-width:349px) {
    .footer-container {
        height: 352px;
    }
    .content-container {
        padding-left: 20px;
        padding-right: 50px;
    }
    .footer-top-section {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .footer-section2 {
        column-gap: 150px;
        width: 100%;
    }
    .t1 {
        white-space: nowrap;
        font-size: 11px;
    }
    .t2 {
        white-space: nowrap;
        font-size: 11px;
    }
    .copyright-text {
        font-size: 12px;
    }
}